.container {
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  height: 100vh;
  outline: 1px black;
  /* Setup */
  position: relative;
}

.myStyle{
  border-radius: 43px;
  background: #fffaeb;
}

.radioButton {
  width: 75px;
  height: 30px;
  background: #ffb6c1;
  border: 2px solid #f08080;
  border-radius: 20px;
}

.child {
  width: 40vw;
  height: 10vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.formError {
  color: red;
}
